	/*    B O D Y
-----------------------------------*/
  body{
  	background-size: 100%;
  	background-image: url("https://static.pexels.com/photos/6374/flowers-desk-office-vintage.jpg");
  }


    
/*    W R A P P E R
-----------------------------------*/
    #wrapper{
        width: 800px;
        margin: 20px auto; 
    }
/*    H E A D E R
-----------------------------------*/
	header{
       width: 800px;
       height: 100px;
       background-image: url("js/Daisy-Flower.jpg");
	}
/*    N A V B A R
-----------------------------------*/
	#myul{
		width: auto;
		height: 30px;
		background-color: green;
		margin: 0;
		padding-top: 30px;
		background-image: url("js/download.jpg");
		background-position: 0 -100px;
	}
	#myul li{
		display: inline;
		float: right;
		padding-right: 20px;
		color: green;
	}
	#myul a{
		text-decoration: none; 
	}
/*    C O N T E N T
-----------------------------------*/
	#content{
		width: 800px;
		height: 500px;
		background-color: #F0F8FF;
	}
	#contentTxt{
		margin: 0;
		padding: 20px 0 0 20px;
	}
/*    F O O T E R
-----------------------------------*/
	footer{
		width: 800px;
		height: 30px;
		background-image: url("js/download.jpg");
		background-position: 0 -150px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
/*/////// SOCIAL ////////*/

a.fbook{
  background: url(../js/facebook.png) no-repeat;

}
a.twit{
  background: url(../js/twitter.png) no-repeat;
}
a.gplus{
	background: url(../js/google.png) no-repeat;
}


#social{
  position: absolute;
  top: 82px;
  right: 4%;
  width: auto;
  margin-left: 50px;

}
#social a {
  display: inline-block;
}
  }

#social {
  top: 72px;
}


